
.controle_formulario{
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.controle_formulario label{
    margin-bottom: .6em;
    font-weight: bold;
}

.controle_formulario select{
    padding: .7em;
    border-radius: 10px;
    border: none;
}

