.novoprojeto_container {
width: 100% !important;
  display: flex !important;
  flex-direction: column !important;
  align-items: flex-start !important;
  justify-content: flex-start !important;
  padding: 4em 8em !important;
  margin: 0 !important;
  text-align: left !important;
}


.novoprojeto_container h1{
    margin-bottom: 0.5em;
}

.novoprojeto_container p{
    margin-bottom: 1em;
    font-size: 1.2em;
    color: #fff;
}