
.container {
  display: flex;
  justify-content: center;
  padding: 20px;
  margin: 0 auto;
  width: 1200px;
  width: 100%;
  flex-wrap: wrap;
}

.min-height {
  min-height: 75%;
}

.start{
    justify-content: flex-start;
}

.column{
    flex-direction: column;
    justify-content: flex-start;
}