
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.footer {
    background-color: #1a2335;
    color: white;
    padding: 20px;
    text-align: center;
}

.social_list{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.social_list li {
    margin: 0 1em;
}

.social_list svg{
    font-size: 1.5em;
    cursor: pointer;
    color: #125dff;
}