
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.footer {
    background-color: #1a2335;
    color: white;
    padding: 5px;
    text-align: center;
    font-family: "Open Sans", sans-serif;
}

.social_list{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.social_list li {
    margin: 0 1em;
}



.social_list svg{
    font-size: 1.5em;
    cursor: pointer;
    color: rgb(3, 126, 175);
}

.social_list svg:hover {
    color: #ffbb33;
}
.copy {
    margin-right: 12px;
}