* {
  margin: 0;
}
.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #1a2335;
    color: white;
    padding: 20px;
    padding-left: 85px;
    align-items: center;
   
}

.gif {
    width: 5px;
    height: 5px;
}

.list {
    display: flex;
    list-style: none;
    align-items: center;
}

.item {
  margin-right: 1em;
}

.item a {
    text-decoration: none;
    color: white;
    font-size: 1.2em;
}

.item a:hover{
    color: #ffbb33;
}

