
.navbar {

    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #d33939;
    color: white;
   
}

.list {
    display: flex;
    list-style: none;
    align-items: center;
}

.item {
    margin-right: 100px;
    padding-right: 200px;
}

.item a {
    color: #fff;
    text-decoration: none;
}

.item a:hover{
    color: #ffbb33;
}